body {
    background-color: #F8F7FF;
    text-align: center;
}

.cat {
    font-family: fantasy;
}

.secret {
    opacity: 0.5;
}

ul {
    padding: 0;
}

li {
   list-style: none; 
}

table, th, td {
    border:1px solid gray;
    margin: 0 auto;
}

.cabbage {
    color: chartreuse;
}